@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary */
    --blue-100: hsl(225, 100%, 94%);
    --blue-700: hsl(245, 75%, 52%);
    /* Neutral */
    --blue-50: hsl(225, 100%, 98%);
    --gray-600: hsl(224, 23%, 55%);
    --blue-950: hsl(223, 47%, 23%);
    /* hover */
    --hover-gray-600: hsl(224, 25%, 44%);
    --hover-blue-700: hsl(245, 75%, 56%);
    /* active */
    --active-gray-600: hsl(223, 47%, 23%);
    --active-blue-700: hsl(245, 72%, 61%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../images/pattern-background-desktop.svg');
    background-color: var(--blue-100);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

article.card {
    margin: 50px auto;
    max-width: 450px;
    width: 90%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.10);
}

.card-hero {
    width: 100%;
    display: block;
}

.card-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    /* gap: 25px; */
}

.card-content h2 {
    font-family: 'Red Hat Display';
    font-weight: 900;
    margin-bottom: 20px;
    color: var(--blue-950);
}

.card-content p {
    font-family: 'Red Hat Display';
    font-size: 16px;
    font-weight: 700;
    color: var(--gray-600);
    margin-bottom: 30px;
}

.plan-box {
    background-color: var(--blue-50);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan-info {
    font-family: 'Red Hat Display';
    display: flex;
    justify-content: center;
    gap: 10px;
}

.plan-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.plan-details strong {
    font-weight: 900;
    color: var(--blue-950);
}

.plan-details span {
    font-weight: 700;
    color: var(--gray-600);
}

.change-link {
    font-family: 'Red Hat Display';
    font-weight: 700;
    color: var(--blue-700);
    cursor: pointer;
    transition: all 0.3s ease;
}

.change-link:hover {
    color: var(--hover-blue-700);
}

.change-link:active {
    color: var(--active-blue-700);
}

.btn-primary {
    background-color: var(--blue-700);
    border-radius: 10px;
    border: solid 0px;
    height: 50px;
    font-family: 'Red Hat Display';
    font-weight: 950;
    cursor: pointer;
    color: var(--blue-50);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.10);
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--hover-blue-700);
}

.btn-primary:active {
    background-color: var(--active-blue-700);
}

.btn-ghost {
    background: none;
    border-radius: 10px;
    border: solid 0px;
    height: 50px;
    font-family: 'Red Hat Display';
    font-weight: 950;
    cursor: pointer;
    color: var(--gray-600);
    transition: all 0.3s ease;
}

.btn-ghost:hover {
    color: var(--hover-gray-600);
}

.btn-ghost:active {
    color: var(--active-gray-600);
}

@media (max-width: 600px) {
    body {
        background-image: url('../images/pattern-background-mobile.svg');
    }
}

@media (max-width: 375px) {
    .card-content {
        padding: 32px 24px;
    }

    .card-content h2 {
        font-size: 22px;
    }
    
    .plan-box {
        padding: 16px;
    }
}